html, body {
  height: 100%;
  width: 100%;
  background-color: #f9f9f9;
}

.App {
  height: 100%;
  width: 100%;
  color: #454545;
}

.forecast-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 90%;
  margin: auto;
}

.header-section {
  display: flex;
  align-content: center;
  justify-content: space-between;
  margin-top: 10px;
  width: 100%;
}

.city {
  margin-left: 10px;
  font-weight: 700;
  color: #454545;
  margin: auto 10px;
}
