.day {
  text-align: center;
  margin-top: 5px;
  border: 5px solid transparent;
}

.day:hover {
  border: 5px solid #454545;
}

.forecast {
  padding: 10px;  
  border: 1px solid black;
}

.daily-forecast-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
}

#date {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 36px;
  margin: 0;
}

#low-temp {
  border-bottom: 1px solid #454545;
}

#high-temp {
  border-top: 1px solid #454545;
}

.temp-container {
  display: flex;
  justify-content: space-evenly;
}

.high-low {
  display: flex;
  flex-direction: column;
  height: 60px;
}

.high-low > p {
  margin: 0;
}


