.zip-form {
  text-align: right;
  display: flex;
  align-content: center;
}

.zip-input {
  border: none;
  border-bottom: 3px solid #454545;
  outline: none;
  text-align: right;
  font-size: 16px;
  font-weight: 700;
  background-color: #f9f9f9;
}

.zip-input::placeholder {
  color: #454545;
}

.submit-btn {
  border: 3px solid #454545;
  background-color: #f9f9f9;
  padding: 5px;
  margin-left: 5px;
  margin-right: 10px;
  font-family: sans-serif;
  font-weight: 700;
  color: #454545;
}

.submit-btn:focus {
  outline: none;
}